<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="">
        <input type="text" placeholder="email" required>
        <input type="text" placeholder="Full Name" required>
        <input type="text" placeholder="password" required>
        <button type="submit">Create User</button>
    </form>
</body>
</html>